
{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
   
<!-- Services-->
<section class="page-section bg-dark" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-muted">Como funciona</h2>
            <h3 class="section-subheading text-muted">Tan sencillo como encender una lámpara.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">¿Qué vas a comer?</h4>
                <p class="text-muted">¿No sabes que cenar? Te ayudamos con eso. Date ese gustito que alegra el alma.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Pone la peli</h4>
                <p class="text-muted">Ya elegiste la comida. Te mostramos opciones de pelis donde comen lo mismo que estas por comer vos ¡Vas a comer con una estrella!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Comentanos tu experiencia</h4>
                <p class="text-muted">¿Te gustó la experiencia? ¿Pensas que hay alguna peli que vale la pena sumar? Registrate, dejanos un comentario o sumá tu peli así crecemos más.</p>
            </div>

            <div>
                 <a class="btn btn-primary btn-xl text-uppercase" href="busquedaComida.html">Arranquemos</a>
            </div>

        </div>
    </div>
</section>

{% endblock contenidoQueCambia %}