{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Form de login-->
        <!-- Contact-->
        <section class="page-section bg-dark" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Tus datos</h2>
                </div>
                <form class="page-section bg-light" method="POST">{% csrf_token %}
                   
                    {{miFormulario.as_p}}
                
                    <input type="submit" value="Guardar">

                </form>
            </div>
        </section>

{% endblock contenidoQueCambia %}