{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Form de pelis-->
        <!-- Contact-->
        <section class="page-section bg-dark">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Estos son algunos de los comenterios de los usuarios</h2>
                    <h3 class="section-subheading text-muted">Suma el tuyo y que aprezca aqui</h3>
                </div> 
                    <div class="section-subheading text-muted">

                    <ul>
        
                    {% for comment in nombre %}
                        <li>
                            {{nombre}} - {{comment.comentario}}
                        </li>
                    {% endfor %}
                        
                    </ul>
                
                           
                    </div>
                        
                
                </div>    
            
            </div>
        </section>

{% endblock contenidoQueCambia %}