{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Form de logout-->
        <!-- Contact-->
        <section class="page-section bg-dark" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Finalizo sesión</h2>
                </div>
                <form class="page-section bg-light">
                 <a href="inicio.html">Ir al inicio</a>  

                </form>
            </div>
        </section>

{% endblock contenidoQueCambia %}