{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Form de pelis-->
        <!-- Contact-->
        <section class="page-section bg-dark" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Elegiste buscar por {{nombreComida}}</h2>
                    <h3 class="section-subheading text-muted">Este fue el resultado</h3>
                </div class="section-subheading text-muted"> 

                
                
                    {% if pelicula %}

                <ul>
        
                    {% for peliculas in pelicula %}
                        <li>
                            {{pelicula.nombreComida}}-{{pelicula.pelicula}}
                        </li>
                    {% endfor %}
                        
                </ul>
                
                {% else %}
        
                    <p>¡No hubo coincidencias!</p>
                
                {% endif %}
                </div>    
            
            </div>
        </section>

{% endblock contenidoQueCambia %}