{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    
<!-- Form de CUANDO UN CONSUMIDOR QUIERE ENTRAR A CARGAR COMIDA->
        <!-- Contact-->
        <section class="page-section bg-dark" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Solo miembros autorizados</h2>
                </div>
                <form class="page-section bg-light text-center"><H3>Te invitamos a que nos dejes tu sugerencia en la sección comentarios</H3>
                <br>
                <br>
                <div class="text-center">
                    <a class="btn btn-primary btn-xl text-uppercase" href="inicio.html">Ir al inicio</a>
               </div>
                </form>
            </div>
        </section>

{% endblock contenidoQueCambia %}